<div class = "countainer-fluid">
    <div class = "row">
        <div class = "col-md-6 ">
            <img src = "../../../../assets/login.svg" height="100%" width="100%">
        </div>
        <div class ="col-md-4">
            <h3 class = "text-primary text-center">Welcome to Multiuser Login with Angular & Spring Boot.</h3>

            <form action=" " class="mt-5 p-5">
                <h5 class="text-primary mb-3">Login</h5>
                <form>
                    <div class="mb-3">
                      <label for="floatingInput">Email address</label>
                      <input type="text" class="form-control" id="floatingInput" placeholder="user@email.com" email = "user@email.com" [(ngModel)]="email">
                    </div>
                    <div class="mb-3">
                      <label for="inputPassword" class="form-label">Password</label>
                      <input type="password" class="form-control" id="inputPassword">
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                          <option selected>Access Rights</option>
                          <option value="1">Admin</option>
                          <option value="2">User</option>
                        </select>
                        <label for="floatingSelect">Role</label>
                      </div>
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-outline-primary me-md-2" type="button">Login</button>
                      </div>

                    <a href = "#" class = "text-primary" style="text-decoration: none;"> Need Account ?</a>
            </form>
        <div class = "col-md-2">

        </div>